In [2]:
import json
import pandas as pd
import numpy as np

In [3]:
with open('wikipedia-movies.json', mode='r') as file:
    wiki_movies_raw = json.load(file)

In [4]:
len(wiki_movies_raw)

7311

In [ ]:
# First 5 records
wiki_movies_raw[:5]

# Some records in the middle
wiki_movies_raw[3600:3605]

# Last 5 records
wiki_movies_raw[-5:]

In [42]:
wiki_movies_df = pd.DataFrame(wiki_movies_raw)
wiki_movies_df.sample()

,url,year,imdb_link,title,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,...,Predecessor,Founders,Area served,Products,Services,Russian,Hebrew,Revenue,Operating income,Polish
5859,https://en.wikipedia.org/wiki/The_Possession_(...,2012.0,https://www.imdb.com/title/tt0431021/,The Possession,Ole Bornedal,"[Sam Raimi, Robert Tapert, J. R. Young]",NaN,NaN,NaN,"[Jeffrey Dean Morgan, Kyra Sedgwick, Natasha C...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
wiki_movies_df.count()
wiki_movies_df.dtypes

url                  object
year                float64
imdb_link            object
title                object
Directed by          object
                     ...
Russian              object
Hebrew               object
Revenue              object
Operating income     object
Polish               object
Length: 193, dtype: object

In [41]:
columns = wiki_movies_df.columns.tolist()
wiki_movies_df.columns

Index(['url', 'year', 'imdb_link', 'title', 'Directed by', 'Produced by',
       'Screenplay by', 'Story by', 'Based on', 'Starring',
       ...
       'Predecessor', 'Founders', 'Area served', 'Products', 'Services',
       'Russian', 'Hebrew', 'Revenue', 'Operating income', 'Polish'],
      dtype='object', length=193)

In [25]:
#wiki_movies
wiki_movie_cols = [col for col in columns
              if ('Director' in col or 'Directed by' in col)
                  or ('imdb_link' in col)
                  and ('No. of episodes' not in col)]
wiki_movie_cols

['imdb_link', 'Directed by', 'Director']

In [30]:
#wiki_df = pd.DataFrame(wiki_movies)
wiki_df = wiki_movies_df[wiki_movie_cols]
wiki_df.sample(n=5)

                                  imdb_link         Directed by Director
6476  https://www.imdb.com/title/tt1198156/     George C. Wolfe      NaN
4379  https://www.imdb.com/title/tt0479143/  Sylvester Stallone      NaN
3279  https://www.imdb.com/title/tt0273982/       Mars Callahan      NaN
2027  https://www.imdb.com/title/tt0119367/       Fred Olen Ray      NaN
634   https://www.imdb.com/title/tt0105347/     Peter Manoogian      NaN

In [31]:
def clean_movie(movie):
    # Create a non-destructive copy
    movie = dict(movie)
    alt_titles = {}
    for key in ['Also known as', 'Arabic', 'Cantonese', 'Chinese', 'French',
               'Hangul', 'Hebrew', 'Hepburn', 'Japanese', 'Literally',
               'Mandarin', 'McCune-Reischauer', 'Original title', 'Polish',
               'Revised Romanization', 'Romanized', 'Russian',
               'Simplified', 'Traditional', 'Yiddish']:
        if key in movie:
            alt_titles[key] = movie[key]
    if len(alt_titles) > 0:
        movie['alt_titles'] = alt_titles
    return movie

In [33]:
clean_movies = [clean_movie(movie) for movie in wiki_movies_raw]

In [39]:
clean_movies_df = pd.DataFrame(clean_movies)
clean_movies_df.sample(n=5)
clean_movies_df.columns

Index(['url', 'year', 'imdb_link', 'title', 'Directed by', 'Produced by',
       'Screenplay by', 'Story by', 'Based on', 'Starring',
       ...
       'Predecessor', 'Founders', 'Area served', 'Products', 'Services',
       'Russian', 'Hebrew', 'Revenue', 'Operating income', 'Polish'],
      dtype='object', length=194)